@import 'customize/variables';

.app {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

.languageSelector {
    color: #fff;
    background-color: $primary-color;
    width: 100%;
    text-align: center;
}

.languageSwitch {
    text-decoration: underline;
    cursor: pointer;
}